extends layout

block content
	h2 Enter your submission!
	form(name="entry", action="/submission", method="post")#entry-form
		p Your name: 
			input(type="text", name="name")
		p Youtube URL: 
			input(type="url", name="url")
		p Title: 
			input(type="text", name="title")
		p Description: 
			input(type="text", name="desc")
		p
			input(type="submit", value="submit")#submit-btn
	p.hidden.error The maximum number of submissions has been reached!