extends layout

block content
	h2 Enter your submission!
	form(name="entry", action="/submission", method="post")
		p Your name: 
			input(type="text", name="name")
		p Youtube URL: 
			input(type="url", name="url")
		p Title: 
			input(type="text", name="title")
		p Description: 
			input(type="text", name="desc")
		p
			input(type="submit", value="submit")